.sliderPane{
  height: 60vh;
}
.showInfoPane{
  color: white;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5vh;
}
.pane{
  background-color: black;
  height: 100vh;
}