/* 
LIAM CORLEY \\ 2020 
Main css file

*/
html{
  height: 90vh;
}

body{
  /* background-color: rgba(33, 37, 42, 0.966); */
  background-color: black;
  font-family: 'montserrat', sans-serif;
  font-weight: 100;
  /* overflow: hidden; */
}

h1 {  
  font-family: 'montserrat', sans-serif;
  font-size: 36px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 100; 
  line-height: 26.4px;
  color: aliceblue;
}
h2{
  font-family: 'montserrat', sans-serif;
  font-weight: 100;
}

h3{
  font-family: 'montserrat', sans-serif;
  font-weight: 100;
}

h5{
  font-family: 'montserrat', sans-serif;
  font-weight: 100;
}

h6{
  font-family: 'montserrat', sans-serif;
  font-weight: 100;
  font-size: 1vh;
}

p{
  font-family: 'montserrat', sans-serif;
  font-weight: 100;
}

div{
  font-family: 'montserrat', sans-serif;
  font-weight: 100; 
}

.footer{
  font-family: 'montserrat', sans-serif;
  font-weight: 100; 
}

/* .content {
  position: absolute;
  top: 50px;
  bottom: 30px;
  right: 0;
  left: 0;
  overflow-y: auto;
} */

.mr-10{
  padding-left: 10px;
  padding-right: 10px;

}



.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  /* padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem); */
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: var(--bs-gutter-x,.75rem);
  margin-left: var(--bs-gutter-x,.75rem);
  padding-top: var(--bs-gutter-x,1rem);
  padding-bottom: var(--bs-gutter-x,1rem);

}
.centered {
  margin: 0 auto;
  text-align: center;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-item > img { 
  width: 100%; 
}

.carousel-img {
  position: absolute;   
  top: 50%;
  padding-left: 5%;
  padding-right: 5%;
  transform: translateY(-50%);
}


.no-gutters{
  padding-left: 0%;
  padding-right: 0%;
}

.navbar {
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  background-color: rgba(0,0,0,0.5);
}


a{
  color:white;
}

.boxed {
  border: 1px;
  background-color: rgba(0,0,0,0.5);
}

.dark-boxed {
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  border: 1px;
  background-color: rgba(0,0,0,0.9);
  width: 100%;
}

.carousel {
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
}

.detailCarousel {
  margin-left: auto;
  margin-right: auto;
}



.show-title {
  margin-top: auto;
  padding-top: 5%;
  color: white;
}

.show-info {
  padding-bottom: 10%;
  color: white;
}

.about-module--contact--XZEqq{
  padding-top: 15vh;
}
