.Navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 1.25em;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  background-color: rgba(0,0,0,0.7);
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
}

.navigationItem a {
  color: currentColor;
}

.dropdown-item {
  background-color:rgba(0,0,0,0.5);
  color:white;
}
.dropdown-menu{
  padding-top: 0%;
  padding-bottom: 0%;
  background-color:rgba(0,0,0,0.5);
}

.NavItem {
  color:white;
}

.Dropdown{
  background-color:rgba(0,0,0,0.5);
  color:white;
}